@use '../utils/functions' as fn;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-weight: 700;
  border-radius: 10px;
  color: fn.get-color('light');
  background-color: fn.get-color('blue-lavender');
}

.btn--md {
  min-width: 90px;
  column-gap: 8px;
  font-size: 21px;
}

.btn--sm {
  min-width: 80px;
  font-size: 20px;
}

.btn--lg {
  min-width: 100px;
  font-size: 20px;
  font-weight: 400;
  color: fn.get-color('dark');
  background-color: transparent;
  border: 1px solid fn.get-color('blue-lavender');
}
