@use '../../utils/placeholders';
@use '../../utils/functions' as fn;
@use '../../utils/mixins' as mx;

.modal__location {
  margin-bottom: 30px;
  padding-top: 15px;
  border-top: 1px solid rgba(fn.get-color('dark-gray'), 0.3);
}

.modal__location-title {
  @extend %title-text;

  margin-bottom: 15px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  column-gap: 10px;

  @include mx.respond-to('md') {
    padding-left: 20px;
    column-gap: 12px;
  }

  @include mx.respond-to('lg') {
    padding-left: 30px;
    column-gap: 15px;
  }
}

.modal__location-quantity {
  @extend %quantity;

  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(fn.get-color('dark-gray'), 0.2);

  @include mx.respond-to('md') {
    width: 20px;
    height: 20px;
  }

  @include mx.respond-to('lg') {
    width: 25px;
    height: 25px;
  }
}

.modal__location-wrapper {
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(fn.get-color('dark-gray'), 0.2);
    border-radius: 3px;
  }
}

.modal__location-table {
  width: 100%;
  min-width: 623px;
}

.modal__location-thead {
  border-top: 1px solid rgba(fn.get-color('dark-gray'), 0.3);
  border-bottom: 1px solid rgba(fn.get-color('dark-gray'), 0.15);
}

.modal__location-header {
  @extend %th;

  padding: 0 10px;
  height: 36px;
  vertical-align: middle;

  &:not(:last-child) {
    border-right: 1px solid rgba(fn.get-color('dark-gray'), 0.15);
  }

  @include mx.respond-to('md') {
    padding: 0 15px;
    height: 40px;
  }

  @include mx.respond-to('lg') {
    padding: 0 20px;
    height: 46px;

    &:first-child {
      padding-left: 30px;
    }

    &:last-child {
      padding-right: 30px;
      width: 100vw;
      max-width: 300px;

      @include mx.respond-to('xl') {
        max-width: 432px;
      }
    }
  }
}

.modal__location-data-row {
  border-bottom: 1px solid rgba(fn.get-color('dark-gray'), 0.15);
}

.modal__location-data {
  @extend %product-label;

  height: 34px;
  padding: 0 10px;
  vertical-align: middle;

  &:last-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include mx.respond-to('md') {
    padding: 0 15px;
    height: 38px;
  }

  @include mx.respond-to('lg') {
    padding: 0 20px;
    height: 44px;

    &:first-child {
      padding-left: 30px;
    }

    &:last-child {
      padding-right: 30px;
    }
  }
}

.modal__location-btn {
  display: flex;
  align-items: center;
}
