@use '../utils/functions' as fn;

body {
  margin: 0;
  font-family: fn.get-font('primary'), sans-serif;
  color: fn.get-color('dark');
  background-color: fn.get-color('light');

  overflow: hidden;
}

button {
  font-family: inherit;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

h2,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
button {
  transition: opacity 250ms linear;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}
