@use '../utils/functions' as fn;

body {
  margin: 0;
  font-family: fn.get-font('primary'), sans-serif;
  color: fn.get-color('dark');
  background-color: fn.get-color('light');
}

button {
  font-family: inherit;
  cursor: pointer;
  transition: opacity 250ms linear;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}
